pipeline/pl_ingest_products.json
{
	"name": "pl_ingest_products",
	"properties": {
		"activities": [
			{
				"name": "products_file_validation",
				"type": "Validation",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_tt_mod6_blobstorage",
						"type": "DatasetReference"
					},
					"timeout": "0.00:00:30",
					"sleep": 10
				}
			},
			{
				"name": "products_metadata",
				"type": "GetMetadata",
				"dependsOn": [
					{
						"activity": "products_file_validation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_tt_mod6_blobstorage",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists",
						"columnCount"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "validation check",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "products_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('products_metadata').output.columnCount,10)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Ingestproducts_copy1",
							"description": "copy products from blob to gen2",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_tt_mod6_blobstorage",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "ds_tt_mod6_gen2storage",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}